.navbar {
    position: fixed; 
    margin-top: 118px;
	width: 1032px;
	height: 40px;
	background: #1E5275;
	color: #ECE6B6;
	border-color: #ECE6B6;
	border-width: 2px;
	border-style: solid;
	font-family: "Zen Dots";
	font-weight: 400;
	font-size: 16px;
	text-align: center;
    /* padding-left: 10px; */
	list-style-type: none;
	display: flex; 
	flex-direction: row;
	justify-content: flex-start;
	/* align-items: stretch; */
	align-content: center;
}

a:link {
	color: #ECE6B6;
	text-decoration: none;
	/* float: right; */
}

a:visited {
	color: #ECE6B6;
	text-decoration: none;
}

li {
	height: 36px;
	flex-basis: 150px;
	padding-top: 6.5px;
	/* float: right; */
	/* align-content: center; */
	/* justify-content: center; */
}

li:hover {
	background-color: #638EB1;
}

.filler:hover {
	background-color: #1E5275;
}

.filler {
	/* flex-basis: 560px;  */
	flex-grow: 1;
}
